<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistem prediksi harga bahan pangan Indonesia</title>
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="/static/logo.svg" alt="">
            </div>
            <ul class="ul-list">
                <li><a href="/" id="default_open">Beranda</a></li>
                <li><a href="/info">Info</a></li>
            </ul>
            <div class="menu-switch">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    <main class="info">
        <h2>Informasi pada Sistem Prediksi Harga Pangan di Indonesia</h2><hr>
        <section>
            <h3>Data</h3>
            <p>Data yang digunakan berasal dari website <a href="https://hargapangan.id/tabel-harga/">hargapangan.id</a>, data dalam penelitian ini diambil dari 1 Agustus 2017 - April 2022</p>
        </section>
        <section class="detail_info">
            <h3>Penjelasan Penggunaan</h3>
            <img src="/static/awal.png" alt="" srcset="">
            <p>Pilih komoditas yang diinginkan dan pilih tanggal setelah hari ketika mengakses website</p>
            <img src="/static/wait.png" alt="">
            <p>tunggu hingga proses selesai karena proses membutuhkan waktu yang lama sesuai dengan lama tanggal yang dipilih</p>
        </section>
    </main>
    <script src="../static/script/index.js" type="text/javascript"></script>
</body>
</html>